<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NUVC Payment Successful</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style=" background-color: rgb(92, 0, 122);">
    <div class="container-fluid">
    <a class="navbar-brand" href="https://www.nuvc.org" >
    <img src="https://www.nuvc.org/static/media/favicon.e0a99620.png" alt="logo" style="width: 30px ;text-align: center ">
    </a>
    
    </div>
    </nav>
    </header>
    <main>
      <div class="container-md">
        <div class="card shadow-sm text-center my-5">
          <div class="card-header">
            <h3 class="card-title text-success">Payment Successful</h3>
          </div>
          <div class="card-body">
            <p class="card-text text-center">Thank you for your purchase</p>
            <hr />
            <p class="card-text text-center">Date: <%= date %></p>
            <p class="card-text text-center">Payment Id: <%= paymentId %></p>
            <p class="card-text text-center">Amount: <%= amount %>/-Rs</p>
          </div>
          <div class="card-footer">
            <a href="https://nuvc.org" class="btn btn-success">Home</a>
          </div>
        </div>
      </div>
    </main>
<<<<<<< HEAD:server/templates/payment-successful.html

    <footer>
    <div style="background-color:black">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget subscribe no-box">
    <h5 class="widget-title" style="color:white">Navachar Udyamita Vikash Council<span></span></h5>
    <p class="ftp" style="color:white">नव उद्यम अभियान स्वरोजगार, उद्यमशीलता एवम रोजगार को बढ़ावा देने वाली विभिन्न विभाग के विभिन्न सरकारी योजनाओं को समन्वित करके ग्रामीण भारत को आत्मनिर्भर बनाने के लिए नवाचार उद्यमिता विकास काउंसिल द्वारा कार्यान्वित किया गया है।</p>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3" style="color:white">
      <h5 class="widget-title">Follow up<span></span></h5>
      <div class="widget no-box" style="display: grid; grid-template-columns: auto auto auto; padding: 10px; gap: 15px;">
        <a href="https://www.facebook.com/profile.php?id=100007102573705" target="_blank">
          <i class="fa fa-facebook" style="color: white; font-size: 25px;"></i>
          </a>
          <a href="https://www.linkedin.com/company/86601129/admin/" target="_blank">
            <i class="fab fa-linkedin" style="color: white; font-size: 25px;"></i>
            </a>
            <a href="https://www.instagram.com/navachar.udyamita/" target="_blank">
              <i class="fab fa-instagram" style="color: white; font-size: 25px;"></i>
              </a><a href="https://twitter.com/NUdyamita" target="_blank">
                <i class="fab fa-twitter" style="color: white; font-size: 25px;"></i>
                </a>
                <a href="https://twitter.com/NUdyamita" target="_blank">
                  <i class="fa-brands fa-youtube" style="color: white; font-size: 25px;"></i>
                  </a>
                  <a href="https://g.page/r/CXKlaeqNxeIAEAE" target="_blank">
                    <i class="fa-brands fa-google" style="color: white; font-size: 25px;"></i>
                    </a>
                    <a href="https://www.reddit.com/user/NavacharUdyamita/" target="_blank">
                      <i class="fa-brands fa-reddit" style="color: white; font-size: 25px;"></i>
                      </a>
                      <a href="https://in.pinterest.com/navacharudyamita/" target="_blank">
                        <i class="fa-brands fa-pinterest" style="color: white; font-size: 25px;"></i>
                        </a>
                        <a href="https://hi.quora.com/profile/Navachar-Udyamita-Vikash-Council" target="_blank">
                          <i class="fa-brands fa-quora" style="color: white; font-size: 25px;"></i>
                          </a>
                          </div>
                          </div>
                          
    <br>
    <br>
    <div class="col-xs-12 col-sm-6 col-md-3"style="color:white">
    <div class="widget no-box">
    <h5 class="widget-title">Contact Us<span></span></h5>
    <address>Address: B15 Shankar Garden, Janakpuri west metro station, New Delhi-110018</address>
    <div class="emailfield">
    <p>
    <b>Phone:</b> 
    <a href="tel:01146579553">011-46579553</a>
    </p>
    <p><b>Email:</b>
    <a href="mailto:admin@nuvc.org"> admin@nuvc.org</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-copyright" style="color:white">
    <div class="container">
    <div class="row">
    <p style="text-align: center;">कॉर्पोरेट कार्य मंत्रालय, कंपनी अधिनियम 2013 के अधीन सेक्शन 8 निकाय, निति आयोग में सूचीबद्ध, कौशल विकास एवं उद्यमशीलता मंत्रालय से सम्बद्ध प्रशिक्षण प्रदाता संस्था, सामाजिक न्याय एवं अधिकारिता विभाग</p>
    <div class="col-md-12 text-center">
    <p>Copyright Udyamit © 2021. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>
=======
    <footer></footer>
>>>>>>> main:server/templates/payment-successful.ejs
  </body>
</html>
