.course {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  /* margin-top: 5%; */
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff4f5;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: rgb(135, 135, 211);
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
  margin-top: -20%;
}
.about-col h1 {
  padding-top: 0;
  color: rgb(135, 135, 211);
}
.about-col p {
  padding: 15px 0 25px;
}
.about-col button {
  color: red;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  animation-duration: 5s;
  animation-name: example;
}
@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: yellow;
  }
}

.about-col button:hover {
  background-color: red;
  color: white;
}

.bottom-content img {
  width: 98.9vw;
  overflow: hidden;
  height: 40vw;
}

.bottom-content {
  overflow: hidden;
  background-size: cover;
  margin-top: 10%;
}

.horizantal {
  display: flex;
  justify-content: center;
  margin-top: -5%;
}
.horizantal hr {
  width: 30vw;
  color: blue;
}

.campus {
  width: 98.8vw;

  margin: auto;
  text-align: center;
  padding-top: 10px;
  background-size: cover;
  background-color: rgb(248, 245, 245);
  overflow: hidden;
}
.campus-col {
  flex-basis: 33%;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(255, 255, 255);
}

.campus-col img {
  width: 32vw;
  display: block;
  height: 25vh;
  overflow: hidden;
  background-size: cover;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(226, 62, 62, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.partner {
  margin-top: 5%;
}

.campus-col button {
  color: white;
  border: none;
  height: 50px;
  width: 150px;
  background-color: purple;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  .row {
    display: block;
  }
  .campus-col img {
    width: 96.2vw;
  }
}

